<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRoleLabel" jhiTranslate="smartsoftApp.role.home.createOrEditLabel">Create or edit a Role</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" [hidden]="!role.id">-->
        <!--<label for="id">ID</label>-->
        <!--<input type="text" class="form-control" id="id" name="id"-->
        <!--[(ngModel)]="role.id" readonly />-->
        <!--</div>-->
        <div class="form-group">
            <label class="form-control-label" for="field_name" jhiTranslate="smartsoftApp.role.name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   [(ngModel)]="role.name"
                   required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.name?.errors?.required">
                    This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="smartsoftApp.role.permission">Permission</label>
            <!--<select class="form-control" id="field_permission" multiple name="permission" [(ngModel)]="role.permissions">-->
            <!--<option [ngValue]="getSelected(role.permissions, permissionOption)" *ngFor="let permissionOption of permissions; trackBy: trackPermissionById">{{permissionOption.name}}</option>-->
            <!--</select>-->
            <p-multiSelect styleClass="form-control" defaultLabel="--请选择--" name="permission" [options]="permissionsOption"
                           [(ngModel)]="permissionIds"></p-multiSelect>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_description" jhiTranslate="smartsoftApp.code.description">Name</label>
            <input type="text" class="form-control" name="description" id="field_description"
                   [(ngModel)]="role.description"
            />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>

