
<div *ngIf="resource">
    <h2><span jhiTranslate="smartsoftApp.resource.detail.title">Resource</span> {{resource.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="smartsoftApp.resource.url">Url</span></dt>
        <dd>
            <span>{{resource.url}}</span>
        </dd>
        <dt><span jhiTranslate="smartsoftApp.resource.name">Name</span></dt>
        <dd>
            <span>{{resource.name}}</span>
        </dd>
        <dt><span jhiTranslate="smartsoftApp.resource.requestMethod">Request Method</span></dt>
        <dd>
            <span>{{resource.requestMethod}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/app/acc-ctrl/', { outlets: { popup: 'resource/'+ resource.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
