<div>
    <h2>
        <span jhiTranslate="smartsoftApp.permission.home.title">Permissions</span>
        <button class="btn btn-primary float-right create-permission" [routerLink]="['/app/acc-ctrl/', { outlets: { popup: ['permission-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="smartsoftApp.permission.home.createLabel">
            Create new Permission
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="permissions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th><span jhiTranslate="global.field.seq">Seq</span> <span></span></th>
            <th jhiSortBy="name"><span jhiTranslate="smartsoftApp.permission.name">Name</span> <span class="fa fa-sort"></span></th>
                <th ><span jhiTranslate="smartsoftApp.permission.code">Code</span> <span ></span></th>
                <th ><span jhiTranslate="smartsoftApp.permission.permissionGroup">Permission Group</span> <span></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let permission of permissions ;index as i; trackBy: trackId">
                <!--<td><a [routerLink]="['../permission', permission.id ]">{{permission.id}}</a></td>-->
                <td>{{ i+1 }}</td>
                <td>{{permission.name}}</td>
                <td>{{permission.code}}</td>
                <td>
                    <div *ngIf="permission.permissionGroupId">
                        <a [routerLink]="['../permission-group', permission.permissionGroupId  ]" >{{permission.permissionGroupName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../permission', permission.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/app/acc-ctrl/', { outlets: { popup: 'permission/'+ permission.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/app/acc-ctrl/', { outlets: { popup: 'permission/'+ permission.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="permissions && permissions.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
